<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "HakatonMuzika", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-[#212121] text-white">
    <div class="flex">
      <div class="flex flex-col gap-y-10 bg-gray-600 w-[60px] h-screen">
        <div class="place-self-center">
          <img src="/images/zabica_nav.png" class="w-11 h-11">
        </div>
        <div class="place-self-center">
          <button><FontAwesome.LiveView.icon name="house" type="solid" class="w-7 h-7 fill-slate-400"/></button>
        </div>
        <div class="place-self-center">
          <button><FontAwesome.LiveView.icon name="bookmark" type="solid" class="w-7 h-7 fill-slate-400"/></button>
        </div>
        <div class="place-self-center">
          <button><FontAwesome.LiveView.icon name="user" type="solid" class="w-7 h-7 fill-slate-400"/></button>
        </div>
        <div class="place-self-center">
          <button><FontAwesome.LiveView.icon name="gear" type="solid" class="w-7 h-7 fill-slate-400"/></button>
        </div>
      </div>
  <!--
  <%= if @current_user do %>
    <li><%= @current_user.email %></li>
    <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
    <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
  <% else %>
    <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
    <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
  <% end %>
    -->
    <div class="w-full">
      <%= @inner_content %>
    </div>
    </div>
  </body>

</html>
