<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "HakatonMuzika", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-[#212121] text-white">
    <div class="flex">
      <div class="flex flex-col gap-y-10 bg-[#2A2B2F] w-[60px] h-screen">
        <div class="place-self-center">
          <img src="/images/zabica_nav.png" class="w-11 h-11">
        </div>
        <a class="place-self-center" data-phx-link="redirect" data-phx-link-state="push" href="/">
          <FontAwesome.LiveView.icon name="house" type="solid" class="w-7 h-7 fill-slate-400"/>
        </a>
        <a class="place-self-center" data-phx-link="redirect" data-phx-link-state="push" href="/albums">
          <FontAwesome.LiveView.icon name="compact-disc" type="solid" class="w-7 h-7 fill-slate-400"/>
        </a>
        <a class="place-self-center" data-phx-link="redirect" data-phx-link-state="push" href="/">
          <FontAwesome.LiveView.icon name="user" type="solid" class="w-7 h-7 fill-slate-400"/>
        </a>
        <a class="place-self-center" data-phx-link="redirect" data-phx-link-state="push" href="/">
          <FontAwesome.LiveView.icon name="gear" type="solid" class="w-7 h-7 fill-slate-400"/>
        </a>
      </div>
  <!--
  <%= if @current_user do %>
    <li><%= @current_user.email %></li>
    <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
    <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
  <% else %>
    <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
    <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
  <% end %>
    -->
    <div class="w-full">
      <div class="flex space-x-2 m-3 absolute top-3 right-5">
      <%= if @current_user do %>
        <button class="md:font-bold text-black bg-[#ebf1f7] rounded py-2 px-5"><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></button>
      <% else %>
        <button class="md:font-bold py-2 px-4"><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></button>
        <button class="md:font-bold bg-[#62A32A] rounded py-2 px-5"><%= link "Sign up", to: Routes.user_registration_path(@conn, :new) %></button>
        <% end %>
      </div>
      <%= @inner_content %>
    </div>
    </div>
  </body>

</html>
