<div class="bg-red-700">
  <div>
    <img src={HakatonMuzika.Music.get_cover(@current_song)}/>
    <div>
      <p><%= @current_song.name %></p>
      <p>artist</p>
    </div>
  </div>
  <div>
<FontAwesome.LiveView.icon name="play" type="solid" class="w-4 h-4 fill-white"/>
  </div>
  <audio src="/stream/3" id="audio-player" phx-hook="AudioPlayer" >
  </audio>
</div>
