<div class="">
  <div class="shadow-[inset_-10px_0px_10px_5px_#212121] h-[30vh]">
  <img class="mix-blend-multiply max-h-full w-full object-none" src={HakatonMuzikaWeb.B3.get_url HakatonMuzika.Music.get_cover(hd(@playlist.songs).id)} />
  </div>
  <p class="text-4xl px-3 my-2"> <%= @playlist.name %> </p>
  <hr class="h-1 border-0 bg-[#2A2B2F]">
  <%= for song <- @playlist.songs do %>
    <.song_card title={song.name} duration={song.duration} track={song.track} id={song.id}/>
  <% end %>
</div>
